<h1>Edit Landmark</h1>

<a href="/landmarks/<%= @landmark.id %>">Go back</a>

<form action="/landmarks/<%= @landmark.id %>" method="post">
  <input type="hidden" id="hidden" name="_method" value="patch" />
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" name="landmark[name]" value="<%= @landmark.name %>" />
    <input type="text" id ='year_completed' name="landmark[year_completed]" value="<%= @landmark.year_completed %>" >
  </div>
  <input type="submit" value="Edit Landmark" />
</form>
